:root{
    --text1-size: 24px;
    --text1-lineheight: 150%;
    --text1-letterspacing: 0px;
    --text1-fontweight: 800;
    --text2-size: 16px;
    --text2-lineheight: 150%;
    --text2-letterspacing: 0px;
    --text2-fontweight: 800;
    --text3-size: 14px;
    --text3-lineheight: 150%;
    --text3-letterspacing: 0px;
    --text3-fontweight: 800;
    --text3b-size: 14px;
    --text3b-lineheight: 150%;
    --text3b-letterspacing: 0px;
    --text3b-fontweight: 800;
    --font-color : #6B6B6B; 
}
@font-face {
    font-family: Figtree-extrabold;
    src: url("assets/fonts/static/Figtree-ExtraBold.ttf");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
@font-face {
    font-family: Figtree-medium;
    src: url("assets/fonts/static/Figtree-Medium.ttf");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
.category, 
.authorname{
    font-family: Figtree-extrabold;
    font-size: var(--text3b-fontweight);
    font-weight: var(--text3-fontweight);
    letter-spacing: var(--text3-letterspacing);
    line-height: var(--text3b-lineheight);
}
.publish_date{
    font-family: Figtree-medium;
    font-weight: var(--text3-fontweight);
    font-size: var(--text3-size);
    letter-spacing: var(--text3-letterspacing);
    line-height: var(--text3-lineheight);
}
.titre{
    font-family: Figtree-extrabold;
    font-weight: var(--text1-fontweight);
    font-size: var(--text1-size);
    letter-spacing: var(--text1-letterspacing);
    line-height: var(--text1-lineheight);
}
.description{
    font-family: Figtree-medium;
    font-weight: var(--text2-fontweight);
    font-size: var(--text2-size);
    letter-spacing: var(--text2-letterspacing);
    line-height: var(--text2-lineheight);
    color: var(--font-color);
}